page-login-phone {
    .background {
        height: 100%;
        background-image: url('../assets/imgs/landing-page.png');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        z-index: 1;
        position: absolute;
        .contents {
            position: relative;
            left: 0%;
            right: 20%;
            bottom: 5%;
            top: 28%;
            color: #fff;
            h1 {
                color: #562B89;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .title2 {
            color: #504e4e;
            font-weight: bold;
        }
    }
    ion-item {
        margin-bottom: 32px !important;
    }
}