    page-login-email {
        .background {
            height: 100%;
            background-image: url('../assets/imgs/landing-page_.png');
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            z-index: 1;
            position: absolute;
            .contents {
                position: relative;
                bottom: 5%;
                top: 4rem;
                color: #fff;
                h1 {
                    color: #562B89;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        .toolbar-title {
            overflow: visible;
            text-overflow: clip;
        }
        .toolbar-title-md {
            padding: 6px 12px;
        }
        .footer {
            background-color: rgba(255, 255, 255, 0.623);
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 12%;
            color: rgb(5, 5, 5);
        }
        ion-input {
            border-bottom: 1px solid #562B89;
        }
        button {
            border-radius: 1rem !important;
        }
        ion-label {
            font-size: initial !important;
            color: darkgray;
        }
        ion-card {
            height: 34rem !important;
            display: flex;
            flex-direction: column;
            width: 100% !important;
            margin: 0 !important;
        }
        a {
            color: #562B89 !important;
        }
    }