<ion-content>
    <div class="background animated fadeInDown">
        <div class="contents">
            <div text-center>
                <img src="assets/imgs/logo_mini.png">
            </div>
            <br>
            <ion-card>
                <ion-card-header>
                    <div text-center>
                        <ion-title>{{'LOGIN_EMAIL.LOGIN' | translate}}</ion-title>
                    </div>
                </ion-card-header>
                <ion-list no-lines>

                    <ion-item>
                        <ion-label floating>{{'LOGIN_EMAIL.EMAIL' | translate}}</ion-label>
                        <ion-input type="text" class="ion-ios-locked-outline" [(ngModel)]="email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>{{'LOGIN_EMAIL.PASSWORD' | translate}}</ion-label>
                        <ion-input type="password" class="ion-ios-locked-outline" [(ngModel)]="password"></ion-input>
                    </ion-item>

                </ion-list>
                <br>
                <ion-row>
                    <ion-col col-6>
                        <button ion-button block outline color="orange" (click)="cerrarModal()">{{'LOGIN_EMAIL.BACK' | translate}}</button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button block color="orange" (click)="iniciarSesion()">{{'LOGIN_EMAIL.ENTER' | translate}}</button>
                    </ion-col>
                </ion-row>
                <br>
                <div text-center (click)="goToResetPass()">
                    <h5 ion-text color="dire">{{'LOGIN_EMAIL.RESETPASSWORD' | translate}}</h5>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>