page-contact {
    .contact-title {
        font-size: 28px;
        font-weight: 500;
        line-height: 0px;
        letter-spacing: 8px;
    }
    .contact-subtitle {
        font-size: 14px;
    }
    .toolbar-title {
        overflow: visible;
        text-overflow: clip;
    }
    .toolbar-title-md {
        padding: 6px 12px;
    }
}