page-home {
    .logo {
        width: 55%;
        border-radius: 50%;
        margin-top: 2%;
        border: 1px solid #562B89;
    }
    .logo_a {
        width: 55%;
        border-radius: 50%;
        margin-top: 2%;
        border: 1px solid #2980b9;
    }
    .toolbar-title {
        overflow: visible;
        text-overflow: clip;
    }
    .toolbar-title-md {
        padding: 6px 12px;
    }
    .card-header-ios {
        font-size: 1.4rem;
    }
    .card-header-md {
        font-size: 1.4rem;
    }
    .slider {
        height: 36%;
        margin-top: 0rem;
    }
    .fondo_1 {
        background-image: url('../assets/imgs/1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .fondo_2 {
        background-image: url('../assets/imgs/2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .background {
        background-size: cover;
        height: auto !important;
    }
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
    .texto_ {
        color: #2f3640;
    }
    .tex {
        color: #fff;
        font-size: 18px;
    }
    .homeB {
        // background-image: url('../assets/imgs/_home.jpg');
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        z-index: 1;
        position: absolute;
    }
    ion-card {
        display: block;
        overflow: hidden;
        border-radius: 80px !important;
    }
    ion-footer {

  ion-icon {
        font-size: 30px;
    }
  }

}
