page-food-categories {
    .background {
        background-size: cover;
        height: 20%;
    }
    .page-title {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        // background: $orange;
        padding: 10px;
        opacity: 0.8;
        h1 {
            text-transform: uppercase;
            margin: 0;
            font-size: 3rem;
            white-space: nowrap;
            font-weight: bold;
            color: #ffffff;
        }
        h2 {
            font-size: 2rem;
        }
        p {
            margin: 0;
            font-size: 1.3rem;
        }
    }
    .item {
        border-bottom: 1.55px dashed #c8c7cc !important;
    }
    .item-inner {
        border-bottom: 0px !important;
    }
    .item:first-child {
        border-top: 1.55px dashed #c8c7cc !important;
    }
    .item:last-child {
        border-bottom: 1.55px dashed #c8c7cc !important;
    }
    .toolbar-title {
        overflow: visible;
        text-overflow: clip;
    }
    .toolbar-title-md {
        padding: 6px 12px;
    }
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 30%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
    .card_name {
        margin: 0%;
        width: 0%;
        width: calc(100% - 0%);
    }
}