    page-service {
        #dire {
            font-size: 1.2rem;
            color: #9E9E9E;
            width: 95%;
        }
        #masPedidos {
            text-align: center;
            margin-top: 8%;
            font-size: 1.2rem;
        }
        #E {
            font-size: 1.2rem;
            color: #f53d3d;
        }
        #M {
            font-size: 1.2rem;
            color: #562B89;
        }
        .carrito {
            width: 32%;
            margin-left: 60%;
            margin-top: -13px;
        }
        .numero {
            position: absolute;
            width: 22%;
            margin-left: 68%;
            z-index: 1;
            margin-top: -9%;
            color: #fff;
        }
        .label-md {
            margin: 0px 0px 0px 0;
        }
        .label-ios {
            margin: 0px 0px 0px 0;
        }
        .list-ios {
            margin: 0px 0 5px;
        }
        .list-md {
            margin: 0px 0 5px;
        }
        ion-card {
            display: table-cell;
            overflow: hidden;
        }
    }