<!-- 
  - @author    Ionic Bucket <ionicbucket@gmail.com>
  - @copyright Copyright (c) 2017
  - @license   Fulcrumy
-->
<!-- About Us Page -->

<ion-header no-border>
  <ion-navbar color="orange" hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'ABOUTUS.TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="background">
    <div class="page-title">
      <h1>ABOUT US</h1>
      <p>Lorem Ipsum is simply dummy text!</p>
    </div>
  </div>
  <div padding class="contents">
    <strong>What is IonicBucket?</strong>
    <br>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book.
    </p>
    <br>
    <strong>IonicBucket Online Experience</strong>
    <br>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
      injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of
      Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
      generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the
      Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate
      Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour,
      or non-characteristic words etc.
    </p>
  </div>
</ion-content>