// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-inner {
    ion-toolbar {
        text-align: center;
        height: 160px;
        text-overflow: clip;
        img {
            width: 100px;
            height: auto;
            // border-radius: 50%;
            // margin-top: 15%;
            // border: 1px solid #222;
            // box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
            // margin-bottom: 10%;
        }
    }
    .toolbar-background {
        background: $orange;
        border-width: 0px !important;
    }
    ion-content {
        background: $orange;
        .item {
            background-color: transparent !important;
            font-weight: 500 !important;
            padding-left: 30px !important;
        }
    }
    .splash {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ff7400;
    }
    .spinner {
        width: 40px;
        height: 40px;
        background-color: #333;
        margin: 100px auto;
        -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
    }
    @-webkit-keyframes sk-rotateplane {
        0% {
            -webkit-transform: perspective(120px)
        }
        50% {
            -webkit-transform: perspective(120px) rotateY(180deg)
        }
        100% {
            -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
        }
    }
    @keyframes sk-rotateplane {
        0% {
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
        }
        50% {
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
        }
        100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }
}

ion-content {
    background: linear-gradient(to bottom, #f1f2f6 100%, #f1f2f6 100%);
}

.list-md ion-item-sliding {
    background-color: #562B89;
}

.list-ios ion-item-sliding {
    background-color: #562B89;
    margin: -1px 0 0px;
}

.toolbar-ios ion-title {
    padding: 0px 0px 0px;
}

.toolbar-title-ios {
    font-size: 1.8rem;
}

.toolbar-title-md {
    font-size: 1.8rem;
}

.normalToast {
    .toast-message {
        text-align: center;
        border-radius: 0.65rem !important;
        background: color($colors, danger)
    }
    ion-footer {

  .fots {
        font-size: 30px;
    }
}
}
