page-summary {
    .direccion {
        width: 120%;
        display: inline-block;
        color: #f4f2ca;
        text-align: center;
        background-color: #562B89;
        padding: .9em 1.8em;
        border: none;
        cursor: pointer;
        outline: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        transition: all .1s linear;
        font-size: 0.9em;
    }
    .direccion:hover {
        background-color: #d0432a;
    }
    .circuloStart {
        width: 20px;
        height: 20px;
        margin: auto;
        margin-top: 10px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #5cb85c;
    }
    .circuloEnd {
        width: 20px;
        height: 20px;
        margin: auto;
        margin-top: 15px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #cc1818;
    }
    .toolbar-title {
        overflow: visible;
        text-overflow: clip;
    }
    .toolbar-title-md {
        padding: 6px 12px;
    }
    .div-img {
        width: 40%;
        margin-left: 28%;
    }
    .div-img-moto-carro {
        width: 20%;
        margin-left: 40%;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .imagen-metodoPago {
        width: 25%;
        float: right;
    }
    .text-metodoPago {
        margin-top: 2%;
    }
    .metodoPago {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}